/* stili generali */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* corpo del progetto */

main{
    width: 70%;
    margin: 0px auto;
    text-align: center;
}

/* sezione 1 */

#sezione1 p{    
    font-family: 'Nunito', sans-serif;
}

h1{
    margin: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: rgb(255, 0, 157);
    font-weight: 900;
}

/* sezione 2 */

#parte1{
    margin: 20px 0px;
}

#parte1::after, #parte2::after{
    display: table;
    content: "";
    clear: both;
}

.sotto-sezione{
    float: left;
    width: calc(100% / 3 - 20px);
    background-color:black;
    color: white;
    margin: 10px;
}

.sotto-sezione::after{
    display: table;
    clear: both;
    content: "";
}

.sotto-sezione img {
    width: 80px;
    float: left;
}

.descrizione-persona{
    float: right;
    width: calc(100% - 80px );
    text-align: left;
    padding: 10px 5px;
}

/* stili descrizione persona*/

.email{
    color:#00e0ff;
}

.mansione{
    font-size: small;
}

h3{
    font-family: 'Bebas Neue', sans-serif;
}

